.section
{
    height: 200px;
    width: 200px;
    margin: 0px auto;
    border-radius: 50%;
    overflow:hidden;
    background-color: aqua;
}
.section img
{
    width: 100%;
}
.footer
{
height: 300px;
}
